html, body {
    background-color: #000;
    height: 100%;
    margin: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game {
    height: 100%;
    width: 100%;
    max-height: 900px;
    max-width: 1320px;
}

.board {
    position: relative;
    background-color: red;
    float: left;
    height: 100%;
    width: 70%;
}

.sidepanel {
    background-color: green;
    width: 30%;
    height: 100%;
    float: right;
}

canvas {
    width: 80%;
}

.boardimage {
    width: 100%;
    height: 100%;
    /*
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;*/
}

.fluidsim {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:transparent;
}
