@font-face {
  font-family: magic_font;
  src: url(beyondwonderland_font.ttf);
}


html, body {
    background-color: #000;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  border: none;
}
.button:hover {
  opacity: 0.7;
}

.clicky {
  border: revert;
  border-color: white;
}

.sigil {
  transition-property: opacity, transform;
  transition-duration: 0.3s, 0.3s;
  /* animation: hue-rock infinite 3s ease-in-out; */
}
.sigil:hover {
  transform: scale(1.06);
  opacity: 1;
  /* animation: hue-rock infinite 0.07s ease-in-out; */
}
.sigil:active:hover {
  opacity: 1;
  transform: scale(0.8);
  /* animation: none; */
}


@keyframes shrink-fade {
  0% {
    width: 80px;
    height: 80px;
    opacity: 100%;
  }
  50% {
    width: 80px;
    height: 80px;
    opacity: 0%;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0%;
  }
}

@keyframes grow-appear {
  0% {
    width: 3px;
    height: 3px;
    opacity: 0%;
    margin-bottom: 40px;
  }
  50% {
    width: 80px;
    height: 80px;
    opacity: 0%;
    margin-bottom: 0px;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 100%;
    margin-bottom: 0px;
  }
}

@keyframes hue-rock {
  0% {
    filter: hue-rotate(0deg);
    transform: scale(1);
  }
  50% {
    filter: hue-rotate(-20deg);
    transform: scale(1.02);
  }
  100% {
    filter: hue-rotate(20deg);
    transform: scale(1);
  }
}



.textfield {
    font-family: magic_font;
    background-color: transparent;
    color: #d0d0d0;
    font-size: 30px;
    user-select: none;
}

.game {
    height: 910px;
    width: 1660px;
    opacity: 0;
}

.board {
    position: relative;
    float: left;
    user-select: none;
}

.board-layer {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    height: 910px;
    width: 1260px;
}


.noise-token {
  position: absolute;
  height: 17px;
  width: 17px;

  transition-duration: 1s, 1s;
  transition-property: opacity, src;
}


.sidepanel {
    background-color: black;
    width: 400px;
    height: 100%;
    float: right;
}

.player-list-item {
  font-size: 25px;
  padding-bottom: 10px;
}

.player-list-icon {
  vertical-align: middle; 
  width: 33px;
  height: 33px;
  /* opacity: 75%; */
  margin-right: 10px;
  animation: spinning 20s infinite linear;
}
td {
    padding-top: 40px;
}


.active-player-list-icon {
  vertical-align: middle;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  animation: pulsing 0.9s infinite ease-in-out;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
    /* opacity: 95%; */
  }
  50% {
    transform: scale(1.1);
    /* opacity: 100%; */
  }
  100% {
    transform: scale(1);
    /* opacity: 95%; */
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.character-name-box {
    position: absolute;
    transform: translateX(-50%);
    font-family: magic_font;
    font-size: 20px;
    color: #bbb;
    user-select: none;
    text-align: center;  
    /* cursor: pointer; */
}

.lore-field {
    padding: 20px;
    text-align: justify;
    font-size: 23px;
}

.ui-title {
  text-align: center;
  padding: 2px;
  border-color: #000;
  background-color: #181818;
  border-style: solid;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes rectifiedFadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.message-banner {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  text-align: center;
  font-size: 60px;
  font-family: magic_font;
  user-select: none;
  color: #fff;

  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 30px 10px rgb(0,0,0), 0px -30px 10px rgb(0,0,0);

  opacity: 0;
  transition-duration: 2s;
  transition-property: opacity;
}