@font-face {
  font-family: magic_font;
  src: url(beyondwonderland_font.ttf);
}


html, body {
    background-color: #000;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
  background-color: #000;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
}

.textfield {
    font-family: magic_font;
    background-color: transparent;
    color: #bbb;
    font-size: 30px;
}

.game {
    height: 900px;
    width: 1700px;
    /*border: 1px groove #bbb;*/
}

.board {
    position: relative;
    float: left;

}

.board-layer {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    height: 900px;
    width: 1200px;
}

.sidepanel {
    background-color: black;
    width: 500px;
    height: 100%;
    float: right;
    /*border-left: 1px groove #bbb;*/
}

.lore-field {
    padding: 20px;
    text-align: justify;
    font-size: 23px;
}

.character-select-box {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.character-select-box:hover {
    /*border: 1px solid #777;*/
}